<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Bazna - Multipurpose Film Maker & Video HTML5 Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="../../../template/bazna/bazna/img/favicon.ico">
        <!-- Place favicon.ico in the root directory -->
		<!-- CSS here -->
        <link rel="stylesheet" href="../../../template/bazna/bazna/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../../template/bazna/bazna/css/owl.carousel.min.css">
        <link rel="stylesheet" href="../../../template/bazna/bazna/css/animate.min.css">
        <link rel="stylesheet" href="../../../template/bazna/bazna/css/magnific-popup.css">
        <link rel="stylesheet" href="../../../template/bazna/bazna/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="../../../template/bazna/bazna/css/dripicons.css">
        <link rel="stylesheet" href="../../../template/bazna/bazna/css/meanmenu.css">
        <link rel="stylesheet" href="../../../template/bazna/bazna/css/slick.css">
        <link rel="stylesheet" href="../../../template/bazna/bazna/css/default.css">
        <link rel="stylesheet" href="../../../template/bazna/bazna/css/style.css">
        <link rel="stylesheet" href="../../../template/bazna/bazna/css/responsive.css">
    </head>
    <body>
        <!-- header-start -->
		<header>
			<div id="sticky-header" class="main-menu-area menu-4 pl-55 pr-55">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xl-3 col-lg-3 d-flex align-items-center">
                            <div class="logo">
                                <a href="../../../template/bazna/bazna/index.html"><img src="../../../template/bazna/bazna/img/logo/logo.png" alt="" /></a>
                            </div>
						</div>
						<div class="col-xl-6 col-lg-9">
                            <div class="main-menu text-right">
                                <nav id="mobile-menu">
                                    <ul>
                                        <li class="active"><a href="../../../template/bazna/bazna/index.html">home</a>
                                            <ul class="sub-menu text-left">
                                                <li><a href="../../../template/bazna/bazna/index.html">home 1</a></li>
                                                <li><a href="../../../template/bazna/bazna/index-2.html">home 2</a></li>
                                                <li><a href="../../../index.html">home 3</a></li>
                                                <li><a href="../../../template/bazna/bazna/index-4.html">home 4</a></li>
                                                <li><a href="../../../template/bazna/bazna/index-5.html">home 5</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="../../../template/bazna/bazna/about-us-01.html">about</a> </li>
                                        <li><a href="../../../template/bazna/bazna/portfolio-grid.html">Portfolio</a>
                                            <ul class="sub-menu text-left">
                                                <li><a href="../../../template/bazna/bazna/portfolio-grid.html">portfolio grid</a></li>
                                                <li><a href="../../../template/bazna/bazna/portfolio-full-width.html">portfolio full width</a></li>
                                                <li><a href="../../../template/bazna/bazna/portfolio-details.html">portfolio-details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">pages</a>
                                            <ul class="sub-menu text-left">
                                                <li><a href="../../../template/bazna/bazna/about-us-01.html">about us 01</a></li>
                                                <li><a href="../../../template/bazna/bazna/about-us-02.html">about us 02</a></li>
                                                <li><a href="../../../index.html">actor grid</a></li>
                                                <li><a href="../../../index.html">actor details</a></li>
                                                <li><a href="../../../index.html">flim grid</a></li>
                                                <li><a href="../../../index.html">flim dark</a></li>
                                                <li><a href="../../../index.html">flim sidebar</a></li>
                                                <li><a href="../../../index.html">flim details</a></li>
                                                <li><a href="../../../index.html">price</a></li>
                                                <li><a href="../../../index.html">video grid</a></li>
                                                <li><a href="../../../index.html">video grid menu</a></li>
                                                <li><a href="../../../index.html">video mesonry</a></li>
                                                <li><a href="../../../index.html">single videos</a></li>
                                                <li><a href="../../../index.html">contact</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="../../../index.html">shop</a>
                                            <ul class="sub-menu text-left">
                                                <li><a href="../../../index.html">shop</a></li>
                                                <li><a href="../../../index.html">product details</a></li>
                                                <li><a href="../../../index.html">register</a></li>
                                                <li><a href="../../../index.html">checkout</a></li>
                                                <li><a href="../../../index.html">cart</a></li>
                                                <li><a href="../../../index.html">login</a></li>
                                                <li><a href="../../../index.html">wishlist</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="../../../index.html">blog</a>
                                            <ul class="sub-menu text-left">
                                                <li><a href="../../../index.html">blog</a></li>
                                                <li><a href="../../../index.html">Blog Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="../../../index.html">contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3">
                            <div class="header-button text-right d-none d-xl-block">
                            <a class="btn" href="#">Find Ticket <i class="far fa-long-arrow-right"></i></a>
                            <a class="btn active" href="#">Latest Trailer <i class="far fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile-menu"></div>
                        </div>
					</div>
				</div>
            </div>
		</header>
        <!-- header-start -->
        <main>
            <!-- slider-start -->
            <div class="slider-area">
                <div class="slider-active">
                    <div class="single-slider slider-2-height d-flex align-items-center"
                        style="background-image:url(../../../template/bazna/bazna/img/slider/slider-4.jpg)">
                        <div class="container">
                            <div class="row ">
                                <div class="col-xl-6 col-lg-8">
                                    <div class="slider-content slider-text">
                                        <h1 data-animation="fadeInUp" data-delay=".6s">World  Best Film  Studio</h1>
                                        <p data-animation="fadeInUp" data-delay=".7s">The Most Famous Films Studio Since 1995</p>
                                        <div class="slider-button">
                                            <a class="btn btn-gray" href="#" data-animation="fadeInUp" data-delay=".9s">Latest Video <i class="far fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slider slider-2-height d-flex align-items-center"
                        style="background-image:url(../../../template/bazna/bazna/img/slider/slider-4.jpg)">
                        <div class="container">
                            <div class="row ">
                                <div class="col-xl-6 col-lg-8">
                                    <div class="slider-content slider-text">
                                        <h1 data-animation="fadeInUp" data-delay=".6s">World  Best Film  Studio</h1>
                                        <p data-animation="fadeInUp" data-delay=".7s">The Most Famous Films Studio Since 1995</p>
                                        <div class="slider-button">
                                            <a class="btn btn-gray" href="#" data-animation="fadeInUp" data-delay=".9s">Latest Video <i class="far fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- slider-start -->
            <!-- best-services-area-start -->
            <div class="best-services-area pt-145 pb-50" style="background-image:url(../../../template/bazna/bazna/img/bg/bg-9.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-8 offset-lg-2 offset-xl-3">
                            <div class="section-title text-center mb-100 pos-relative">
                                <div class="section-icon">
                                    <img src="../../../template/bazna/bazna/img/icon/section.png" alt="">
                                </div>
                                <span>Our services</span>
                                <h1>We Offer Best Service For Your Films</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="best-services-wrapper text-center mb-70">
                                <div class="best-services-img">
                                    <img src="../../../template/bazna/bazna/img/icon/s-01.png" alt="">
                                </div>
                                <div class="best-services-text">
                                    <h3>TV Film Production</h3>
                                    <p>Let Production Central produce your next video TV production from conception to final</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="best-services-wrapper text-center mb-70">
                                <div class="best-services-img">
                                    <img src="../../../template/bazna/bazna/img/icon/s-02.png" alt="">
                                </div>
                                <div class="best-services-text">
                                    <h3>Green Screen Studios</h3>
                                    <p>Let Production Central produce your next video TV production from conception to final</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="best-services-wrapper text-center mb-70">
                                <div class="best-services-img">
                                    <img src="../../../template/bazna/bazna/img/icon/s-03.png" alt="">
                                </div>
                                <div class="best-services-text">
                                    <h3>Educational Production</h3>
                                    <p>Let Production Central produce your next video TV production from conception to final</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="best-services-wrapper text-center mb-70">
                                <div class="best-services-img">
                                    <img src="../../../template/bazna/bazna/img/icon/s-04.png" alt="">
                                </div>
                                <div class="best-services-text">
                                    <h3>Corporate Videography</h3>
                                    <p>Let Production Central produce your next video TV production from conception to final</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="best-services-wrapper text-center mb-70">
                                <div class="best-services-img">
                                    <img src="../../../template/bazna/bazna/img/icon/s-05.png" alt="">
                                </div>
                                <div class="best-services-text">
                                    <h3>Video Editing / Effects</h3>
                                    <p>Let Production Central produce your next video TV production from conception to final</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="best-services-wrapper text-center mb-70">
                                <div class="best-services-img">
                                    <img src="../../../template/bazna/bazna/img/icon/s-06.png" alt="">
                                </div>
                                <div class="best-services-text">
                                    <h3>Teleprompter Services</h3>
                                    <p>Let Production Central produce your next video TV production from conception to final</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- best-services-area-end -->
            <!-- awards-area-start -->
            <div class="awards-area pt-250 pb-210">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <div class="awards-wrapper mb-30">
                                <div class="section-title pos-relative">
                                    <div class="section-icon text-center mr-90">
                                        <img src="../../../template/bazna/bazna/img/icon/section.png" alt="">
                                    </div>
                                    <span>Our certificates</span>
                                    <h1>We Have Got Many Certifications</h1>
                                    <p>Sed ut perspiciatis unde omnis iste natus error voluptatac cusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae abnventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                                </div>
                                <div class="awards-button">
                                    <a class="btn" href="#">View More Certificate <i class="far fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="certificates-bg">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 mb-30">
                                        <div class="certificates-2-img">
                                            <img src="../../../template/bazna/bazna/img/certificate/01.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 mb-30">
                                        <div class="certificates-2-img">
                                            <img src="../../../template/bazna/bazna/img/certificate/02.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 mb-30">
                                        <div class="certificates-2-img">
                                            <img src="../../../template/bazna/bazna/img/certificate/03.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 mb-30">
                                        <div class="certificates-2-img">
                                            <img src="../../../template/bazna/bazna/img/certificate/04.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- awards-area-start -->
            <!-- latest-video-area-start -->
            <div class="latest-video-area pt-200 pb-200" style="background-image:url(../../../template/bazna/bazna/img/bg/bg-10.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-8 offset-lg-2 offset-xl-2">
                            <div class="latest-video-wrapper single-video-wrapper text-center">
                                <div class="latest-video">
                                    <a class="popup-video" href="https://www.youtube.com/watch?v=LTXD6XZXc3U"><i class="far fa-play"></i></a>
                                </div>
                                <div class="latest-text">
                                    <h1>Watch Our Latest Movie Trailer</h1>
                                    <p>This is a popular movies & this videos has 5 million views complated</p>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- latest-video-area-end -->
            <!-- team-area-start -->
            <div class="team-area pt-145 pb-95">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-5">
                            <div class="single-team mb-30">
                                <div class="section-title pos-relative">
                                    <div class="section-icon text-center mr-90">
                                        <img src="../../../template/bazna/bazna/img/icon/section.png" alt="">
                                    </div>
                                    <span>our team member</span>
                                    <h1>Our Creative Team Member</h1>
                                    <p>At vero eos et accusamus et iusto odio dignissiducimus qui braesen ium voluptatum deleniti atque corrupti quos dolores et quas molesexcepturi sint occaecati cupiditate non provident similique sunt in culpa
                                    </p>
                                </div>
                                <div class="awards-button">
                                    <a class="btn" href="#">View All Member <i class="far fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-7">
                            <div class="team-bg">
                                <div class="row">
                                    <div class="col-xl-7 col-lg-7 col-md-7">
                                        <div class="team-2-img pr-30 mb-30">
                                            <img src="../../../template/bazna/bazna/img/team/team.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xl-5 col-lg-5 col-md-5">
                                        <div class="team-2-wrapper mb-30">
                                            <div class="team-2-content">
                                                <h4>Shek David Max</h4>
                                                <span>Flim Director</span>
                                                <p>Hello Guys i.m Shek David Max dolor sit amet consa dipisicings elit sed do eiusmod ncididunt ut labore et dolore says.</p>
                                                <div class="team-2-icon">
                                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- team-area-end -->
            <!-- counter-area-start -->
            <div class="counter-area pb-95">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-xl-2 col-lg-3 col-md-6">
                            <div class="single-counter text-center mb-30">
                                <div class="counter-icon">
                                    <img src="../../../template/bazna/bazna/img/icon/co-1.png" alt="">
                                </div>
                                <div class="counter-text">
                                    <h1 class="counter">6523</h1>
                                    <span>Project Complate</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-6">
                            <div class="single-counter text-center mb-30">
                                <div class="counter-icon">
                                    <img src="../../../template/bazna/bazna/img/icon/co-2.png" alt="">
                                </div>
                                <div class="counter-text">
                                    <h1 class="counter">6985</h1>
                                    <span>Satisfied Clients</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-6">
                            <div class="single-counter text-center mb-30">
                                <div class="counter-icon">
                                    <img src="../../../template/bazna/bazna/img/icon/co-3.png" alt="">
                                </div>
                                <div class="counter-text">
                                    <h1 class="counter">8964</h1>
                                    <span>Win Awards</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-6">
                            <div class="single-counter text-center mb-30">
                                <div class="counter-icon">
                                    <img src="../../../template/bazna/bazna/img/icon/co-4.png" alt="">
                                </div>
                                <div class="counter-text">
                                    <h1 class="counter">6789</h1>
                                    <span>Project Complate</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- counter-area-end -->
            <!-- working-gallery-start -->
            <div class="working-gallery-area pt-140 pb-190" style="background-image:url(../../../template/bazna/bazna/img/bg/bg-11.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 offset-lg-3 offset-xl-3">
                            <div class="section-title text-center mb-105  pos-relative">
                                <div class="section-icon">
                                    <img src="../../../template/bazna/bazna/img/icon/section.png" alt="">
                                </div>
                                <span>Our gallery</span>
                                <h1>Awards Winning Most Working Galley</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="working-active owl-carousel">
                            <div class="col-xl-12">
                                <div class="working-gallery-wrapper">
                                    <div class="working-gallery-img">
                                        <a href="#"><img src="../../../template/bazna/bazna/img/gallery/working-1.jpg" alt=""></a>
                                    </div>
                                </div>
                                <div class="working-gallery-text">
                                    <h3><a href="#">The Dark Night</a></h3>
                                    <span>Action Movie (1995-97)</span>
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="working-gallery-wrapper">
                                    <div class="working-gallery-img">
                                        <a href="#"><img src="../../../template/bazna/bazna/img/gallery/working-2.jpg" alt=""></a>
                                    </div>
                                </div>
                                <div class="working-gallery-text">
                                    <h3><a href="#">Romantic Love</a></h3>
                                    <span>Emotional movie (1995-97)</span>
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="working-gallery-wrapper">
                                    <div class="working-gallery-img">
                                        <a href="#"><img src="../../../template/bazna/bazna/img/gallery/working-3.jpg" alt=""></a>
                                    </div>
                                </div>
                                <div class="working-gallery-text">
                                    <h3><a href="#">Singer Boys</a></h3>
                                    <span>Animation movie (2000-02)</span>
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="working-gallery-wrapper">
                                    <div class="working-gallery-img">
                                        <a href="#"><img src="../../../template/bazna/bazna/img/gallery/working-1.jpg" alt=""></a>
                                    </div>
                                </div>
                                <div class="working-gallery-text">
                                    <h3><a href="#">The Dark Night</a></h3>
                                    <span>Action Movie (1995-97)</span>
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="working-gallery-wrapper">
                                    <div class="working-gallery-img">
                                        <a href="#"><img src="../../../template/bazna/bazna/img/gallery/working-2.jpg" alt=""></a>
                                    </div>
                                </div>
                                <div class="working-gallery-text">
                                    <h3><a href="#">Romantic Love</a></h3>
                                    <span>Emotional movie (1995-97)</span>
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="working-gallery-wrapper">
                                    <div class="working-gallery-img">
                                        <a href="#"><img src="../../../template/bazna/bazna/img/gallery/working-3.jpg" alt=""></a>
                                    </div>
                                </div>
                                <div class="working-gallery-text">
                                    <h3><a href="#">Singer Boys</a></h3>
                                    <span>Animation movie (2000-02)</span>
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="working-gallery-wrapper">
                                    <div class="working-gallery-img">
                                        <a href="#"><img src="../../../template/bazna/bazna/img/gallery/working-1.jpg" alt=""></a>
                                    </div>
                                </div>
                                <div class="working-gallery-text">
                                    <h3><a href="#">The Dark Night</a></h3>
                                    <span>Action Movie (1995-97)</span>
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="working-gallery-wrapper">
                                    <div class="working-gallery-img">
                                        <a href="#"><img src="../../../template/bazna/bazna/img/gallery/working-2.jpg" alt=""></a>
                                    </div>
                                </div>
                                <div class="working-gallery-text">
                                    <h3><a href="#">Romantic Love</a></h3>
                                    <span>Emotional movie (1995-97)</span>
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="working-gallery-wrapper">
                                    <div class="working-gallery-img">
                                        <a href="#"><img src="../../../template/bazna/bazna/img/gallery/working-3.jpg" alt=""></a>
                                    </div>
                                </div>
                                <div class="working-gallery-text">
                                    <h3><a href="#">Singer Boys</a></h3>
                                    <span>Animation movie (2000-02)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- working-gallery-end -->
            <!-- client-area-start -->
            <div class="client-area pt-145 pb-100">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 offset-lg-3 offset-xl-3">
                            <div class="section-title text-center  pos-relative">
                                <div class="section-icon">
                                    <img src="../../../template/bazna/bazna/img/icon/section.png" alt="">
                                </div>
                                <span>our testimonials</span>
                                <h1>Read Our Clients Latest Reviews</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="client-2-active owl-carousel">
                            <div class="col-xl-12">
                                <div class="client-wrapper mt-105 mb-30">
                                    <div class="client-content">
                                        <div class="client-name">
                                            <div class="client-img">
                                                <img src="../../../template/bazna/bazna/img/testimonial/01.png" alt="">
                                            </div>
                                            <div class="client-text">
                                                <h4>Zekson D. Silva</h4>
                                                <span>CEO & Founder</span>
                                            </div>
                                        </div>
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantiu doloremque
                                            laudantium, totam
                                            rem aperiam, eaque ipsa quae ab illo inventore veritatis et qarchitecto beatae vitae
                                            dicta sunt
                                            explicabo. </p>
                                        <div class="client-icon">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="fas fa-star-half-alt"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="client-wrapper mt-105 mb-30">
                                    <div class="client-content">
                                        <div class="client-name">
                                            <div class="client-img">
                                                <img src="../../../template/bazna/bazna/img/testimonial/02.png" alt="">
                                            </div>
                                            <div class="client-text">
                                                <h4>Kalima H. Dalia</h4>
                                                <span>Web designer</span>
                                            </div>
                                        </div>
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantiu doloremque
                                            laudantium, totam
                                            rem aperiam, eaque ipsa quae ab illo inventore veritatis et qarchitecto beatae vitae
                                            dicta sunt
                                            explicabo. </p>
                                        <div class="client-icon">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="fas fa-star-half-alt"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- client-area-end -->
            <!-- brand-area-start -->
            <div class="brand-area pb-130">
                <div class="container">
                    <div class="row">
                        <div class="brand-2-active owl-carousel">
                            <div class="col-xl-12">
                                <div class="brand-img text-center">
                                    <img src="../../../template/bazna/bazna/img/brand/01.png" alt="" />
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="brand-img text-center">
                                    <img src="../../../template/bazna/bazna/img/brand/02.png" alt="" />
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="brand-img text-center">
                                    <img src="../../../template/bazna/bazna/img/brand/03.png" alt="" />
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="brand-img text-center">
                                    <img src="../../../template/bazna/bazna/img/brand/04.png" alt="" />
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="brand-img text-center">
                                    <img src="../../../template/bazna/bazna/img/brand/05.png" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- brand-area-end -->
            <!-- blog-area-start -->
            <div class="blog-area pt-145 pb-95" style="background-image:url(../../../template/bazna/bazna/img/bg/bg-12.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 offset-lg-3 offset-xl-3">
                            <div class="section-title white-title text-center mb-105 pos-relative">
                                <div class="section-icon">
                                    <img src="../../../template/bazna/bazna/img/icon/section-2.png" alt="">
                                </div>
                                <span>our blog</span>
                                <h1>Interesting Articles Updated Daily</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <div class="our-blog-wrapper mb-30">
                                <div class="blog-3-img">
                                    <a href="../../../index.html"><img src="../../../template/bazna/bazna/img/blog/b-1.jpg" alt=""></a>
                                </div>
                                <div class="blog-2-text">
                                    <div class="blog-meta">
                                        <span> <i class="far fa-user-alt"></i> Zonath</span>
                                        <span> <i class="far fa-comments"></i> Comments (03)</span>
                                    </div>
                                    <h3><a href="../../../index.html">Monthly Web Development0s Complete Anato Of Gutenberg WordPress Editor Date The Cost Of JavaScript See Source, And QUIC</a></h3>
                                    <a href="../../../index.html">Read More <i class="far fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="our-blog-wrapper mb-30">
                                <div class="blog-3-img">
                                    <a href="../../../index.html"><img src="../../../template/bazna/bazna/img/blog/b-2.jpg" alt=""></a>
                                </div>
                                <div class="blog-2-text">
                                    <div class="blog-meta">
                                        <span> <i class="far fa-user-alt"></i> Zonath</span>
                                        <span> <i class="far fa-comments"></i> Comments (03)</span>
                                    </div>
                                    <h3><a href="../../../index.html">Everything You Need Know About Alignment In Flexbox Of Gutenberg WordPress Editor Date Cost Of JavaScript See Source</a></h3>
                                    <a href="../../../index.html">Read More <i class="far fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- blog-area-end -->
        </main>
        <!-- footer-area-start -->
        <footer>
            <div class="footer-area grey-bg pt-80">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="footer-wrapper pl-60 mb-30">
                                <div class="footer-logo">
                                    <a  href="../../../template/bazna/bazna/index.html"><img src="../../../template/bazna/bazna/img/logo/black-logo.png" alt=""></a>
                                </div>
                                <ul class="fotter-menu fotter-2-menu">
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Our Services</a></li>
                                    <li><a href="#">Latest News</a></li>
                                    <li><a href="#">Need A Job?</a></li>
                                    <li><a href="#">Join Our Team</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="footer-wrapper pl-30 pr-70 mb-30">
                                <div class="footer-title">
                                    <h4>Follow Us</h4>
                                </div>
                                <div class="footer-3-icon">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                    <a href="#"><i class="fab fa-vine"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="footer-wrapper pl-10 pr-25 mb-30">
                                <div class="footer-title">
                                    <h4>Our Gallery</h4>
                                </div>
                                <ul class="footer-img">
                                    <li>
                                        <a href="#"><img alt="" src="../../../template/bazna/bazna/img/instagram/instagram1.jpg"> </a>
                                    </li>
                                    <li><a href="#"><img alt="" src="../../../template/bazna/bazna/img/instagram/instagram2.jpg"></a></li>
                                    <li><a href="#"><img alt="" src="../../../template/bazna/bazna/img/instagram/instagram3.jpg"></a></li>
                                    <li><a href="#"><img alt="" src="../../../template/bazna/bazna/img/instagram/instagram4.jpg"></a></li>
                                    <li><a href="#"><img alt="" src="../../../template/bazna/bazna/img/instagram/instagram5.jpg"></a></li>
                                    <li><a href="#"><img alt="" src="../../../template/bazna/bazna/img/instagram/instagram6.jpg"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="footer-wrapper pl-45 mb-30">
                                <div class="footer-title">
                                    <h4>Newsletter</h4>
                                </div>
                               <div class="footer-2-info">
                                <p>Subscribe Our Newsletter To Get More Update</p>
                               </div>
                                <div class="subscribes-3-form">
                                    <form action="#">
                                        <input placeholder="Enter Your Email " type="email">
                                        <button class="btn">Subscribe <i class="far fa-long-arrow-right"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-bottom  footer-3-bottom pt-20 pb-20 mt-55">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="copyright text-center">
                                    <p> Copyright <i class="far fa-copyright"></i> <a href="#">Bazna.</a> All Right Reserved. Design By <a href="#">BDevs</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-area-end -->
        <!-- Modal Search -->
        <div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form>
                        <input type="text" placeholder="Search here...">
                        <button>
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
		<!-- JS here -->
        <script src="../../../template/bazna/bazna/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="../../../template/bazna/bazna/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="../../../template/bazna/bazna/js/popper.min.js"></script>
        <script src="../../../template/bazna/bazna/js/bootstrap.min.js"></script>
        <script src="../../../template/bazna/bazna/js/jquery.counterup.min.js"></script>
        <script src="../../../template/bazna/bazna/js/jquery.countdown.min.js"></script>
        <script src="../../../template/bazna/bazna/js/waypoints.min.js"></script>
        <script src="../../../template/bazna/bazna/js/owl.carousel.min.js"></script>
        <script src="../../../template/bazna/bazna/js/isotope.pkgd.min.js"></script>
        <script src="../../../template/bazna/bazna/js/slick.min.js"></script>
        <script src="../../../template/bazna/bazna/js/jquery.meanmenu.min.js"></script>
        <script src="../../../template/bazna/bazna/js/ajax-form.js"></script>
        <script src="../../../template/bazna/bazna/js/wow.min.js"></script>
        <script src="../../../template/bazna/bazna/js/jquery.scrollup.min.js"></script>
        <script src="../../../template/bazna/bazna/js/imagesloaded.pkgd.min.js"></script>
        <script src="../../../template/bazna/bazna/js/jquery.magnific-popup.min.js"></script>
        <script src="../../../template/bazna/bazna/js/plugins.js"></script>
        <script src="../../../template/bazna/bazna/js/main.js"></script>
    </body>
</html>
